{% extends "base.html" %}

{% load wagtailcore_tags shuffle %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}
{% block content %}
    <script src="{% static 'home/js/imagesloaded.min.js' %}"></script>
    <script src="{% static 'home/js/masonry.min.js' %}"></script>
    <script src="{% static 'home/js/image_layout.js' %}"></script>
    {{ page.body|richtext }}
    <div class="grid">
        {% for child_page in page.get_children|shuffle %}
            {% with child_page.specific as specific_child_page %}
                <a href="{% pageurl specific_child_page %}">
                    <div class="grid-item">
                        <img src="{{ specific_child_page.image.file.url }}" alt="{{ specific_child_page.title }}"></img>
                    </div>
                </a>
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}