{% extends "base.html" %}

{% load wagtailcore_tags shuffle %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}
{% block content %}
    <script src="{% static 'home/js/imagesloaded.min.js' %}"></script>
    <script src="{% static 'home/js/masonry.min.js' %}"></script>
    <script src="{% static 'home/js/image_layout.js' %}"></script>
    {{ page.body|richtext }}
    <div class="grid">
        {% for image_page in published_image_pages %}
            <a href="{% pageurl image_page %}">
                <div class="grid-item">
                    <img src="{{ image_page.image.file.url }}" alt="{{ i.title }}"></img>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}