{% extends "base.html" %}

{% load wagtailcore_tags shuffle %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}
{% block content %}
    <script src="{% static 'home/js/imagesloaded.min.js' %}"></script>
    <script src="{% static 'home/js/masonry.min.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // init Masonry
            var grid = document.querySelector('.grid');
            var msnry = new Masonry(grid, {
                itemSelector: '.grid-item',
                columnWidth: 200,
                gutter: 4,
                fitWidth: true,
            });

            // layout Masonry after each image loads
            imagesLoaded(grid).on('progress', function() {
                msnry.layout();
            });

            window.addEventListener('resize', function() {
                msnry.layout();
            });
        });
    </script>

    {{ page.body|richtext }}
    <div class="grid">
        {% for child_page in page.get_children|shuffle %}
            {% with child_page.specific as specific_child_page %}
                <a href="{% pageurl specific_child_page %}">
                    <div class="grid-item">
                        <img src="{{ specific_child_page.image.file.url }}" alt="{{ specific_child_page.title }}"></img>
                    </div>
                </a>
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}