{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}
{% block content %}
    <div class="container">
        <a href="/">Back</a>
        <div class="row">
            <div class="col-md-3 text-content">
                <h1>{{ page.title }}</h1>
                {{ page.body|richtext }}
            </div>
            <div class="col-md-8 image-content">
                <img src="{{ page.image.file.url }}" alt="{{ page.image.title }}"></img>
            </div>
        </div>
    </div>
{% endblock %}