html { overflow-y: scroll; }

body {
  font-family: sans-serif;
}

.grid {
  width: 90%;
  margin: 0 auto;
}

.grid-item {
  width: 200px;
  max-width: 400px;
  margin-bottom: 2px;
}

.grid-item img {
  width: 100%;
}
